@font-face {
    font-family: 'RiiMonakaBLt';
    src: url('../fonts/RiiMonakaBLt.otf') format('opentype');
}

@font-face {
    font-family: 'mini-convenie';
    src: url('../fonts/mini-convenie.otf') format('opentype');
}

@font-face {
    font-family: 'azuki';
    src: url('../fonts/azuki.ttf') format('truetype');
}

@font-face {
    font-family: 'KFhimajiILLUST';
    src: url('../fonts/KFhimajiILLUST.otf') format('opentype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: azuki;
}

header {
    position: relative;
    background: linear-gradient(90deg, transparent 0, transparent 5vw, white 5vw, white 100%), repeating-linear-gradient(-20deg, #BE0000, #BE0000 10vw, #D8ACFF 0, #D8ACFF 20vw, #77FF59 0, #77FF59 30vw, #FF7AB1 0, #FF7AB1 40vw, #FF9D41 0, #FF9D41 50vw, #62DDFF 0, #62DDFF 60vw, #AFAFAF 0, #AFAFAF 70vw, #0004E1 0, #0004E1 80vw, #F6F21A 0, #F6F21A 90vw);
}

    header::before {
        /* 自由に使うがよい！ */
    }

    header::after {
        content: "株単社員旅行";
        font-weight: bold;
        position: absolute;
        top: 12vw;
        right: 7vw;
        font-size: 4.5vw;
        /*color: white;*/
        /*background: #680D0D;*/
        /*padding: 4vw;*/
        /*border-radius: 50vw / 18vw;*/
        border-radius: 2vw;
        border: double 3px #FF9D41;
        color: #FF9D41;
        padding: 2vw 4vw;
        transform: rotate(15deg);
    }

h1 {
    /*font-size: 0;*/
    position: absolute;
    font-family: "mini-convenie";
    text-align: center;
    bottom: 52vh;
    left: 3vw;
    right: 0;
    font-size: 0;
}

    h1::before {
        content: "たび";
        color: hsla(0, 100%, 100%, 0.5);
        text-shadow: cornflowerblue 0.7vw 0.7vw 0, cornflowerblue 0.7vw 0.9vw 0, cornflowerblue 0.9vw 0.7vw 0;
    }

    h1::after {
        content: "のしおり";
        color: hsla(0, 100%, 100%, 0.5);
        text-shadow: deeppink 0.7vw 0.7vw 0, deeppink 0.7vw 0.9vw 0, deeppink 0.9vw 0.7vw 0;
        margin-left: 2vw;
    }

    h1::before, h1::after {
        font-size: 10vw;
    }

.slogan {
    position: absolute;
    bottom: 45vh;
    left: 12vw;
    right: 0;
    font-size: 3.5vw;
    font-weight: bold;
    color: hsla(33, 100%, 65%, 0.64);
    text-shadow: hsl(33, 68%, 46%) -0.4vw -0.3vw, hsl(33, 68%, 46%) -0.5vw -0.3vw;
}

    .slogan::before {
        top: -2.8vw;
        left: -0.7vw;
        transform: rotate(-18deg);
    }

    .slogan::after {
        top: -1.6vw;
        left: -2vw;
        transform: rotate(-52deg);
    }

    .slogan::before, .slogan::after {
        content: "";
        display: block;
        width: 1vw;
        height: 2vw;
        background: #FFAF4D;
        position: absolute;
        border-radius: 0.5vw;
    }

.your-name {
    position: absolute;
    bottom: 3vh;
    left: 14vw;
    right: 5vw;
    border-bottom: double 0.3vw #909090;
}
    /*.your-name::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5vw;
        border-color: #680D0D transparent transparent transparent;
        position: absolute;
        top: -5vw;
    }*/

    .your-name:after {
        content: "";
        position: absolute;
        top: -3vh;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .your-name label {
        font-family: RiiMonakaBLt;
    }

    .your-name input[type="text"] {
        border: none;
        margin-left: 10vw;
        font-size: 7vw;
        position: absolute;
        left: 8vw;
        right: 5vw;
        bottom: 1vw;
        width: auto;
        font-family: azuki;
    }

.toc {
    position: fixed;
    top: 0;
    right: 17vw;
    bottom: 0;
    width: 10vw;
    z-index: 3;
    background: pink;
    display: none;
}

    .toc ol, .toc li {
        margin: 0;
        padding: 0;
    }

    .toc li {
        /* transform: rotate(90deg); */
        list-style: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 8vh;
    }

        .toc li a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            background: yellowgreen;
        }

        .toc li:nth-child(2) {
            background: blue;
            left: 8vh;
            z-index: 5;
        }

        .toc li:nth-child(3) {
            background: maroon;
            top: 50%;
        }

.page:not(:first-child) {
    padding: 2vh 4vw;
    position: relative;
}

h2 {
    margin: 1vh 0 1vh 0;
    display: inline-block;
    padding: 0 0.5vw 0 1vw;
    border-bottom: 0.5vw solid #d48900d6;
    position: relative;
}

    h2:after {
        content: "";
        position: absolute;
        left: 1.5vw;
        right: -1.5vw;
        bottom: -1.5vw;
        border-bottom: 0.5vw solid #d48900d6;
    }

h3:after {
    content: "┳";
    color: #D36600;
}

.summary {
}

    .summary h3 {
        margin: 2vh 0 1.5vh;
    }

    .summary p {
        margin: 0;
    }

    .summary .summary-content:before {
        font-family: KFhimajiILLUST;
        content: "帳";
        position: absolute;
        font-size: 30vw;
        left: 60vw;
        top: 3.5vh;
        transform: rotate(20deg);
        color: #2e8bdc3a;
        z-index: -1;
    }

    .summary .members {
        position: relative;
    }

        /* .summary .members:after {
            font-family: KFhimajiILLUST;
            content: "道";
            position: absolute;
            font-size: 30vw;
            left: 60vw;
            top: 4vh;
            transform: rotate(-20deg);
            color: #8428284f;
            z-index: -1;
        } */

        .summary .members ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .summary .members ul li {
                margin: 0.4em 0;
                padding: 0;
            }

                .summary .members ul li:before {
                    content: "┨";
                    margin-right: 0.5em;
                    font-weight: bold;
                }

    .summary .attention {
        border: double 6px hsl(29, 100%, 50%);
        border-radius: 1vw;
        margin-top: 10vw;
    }

        .summary .attention h3 {
            text-align: center;
            margin: 0.3em 0 0;
            font-size: 5vw;
        }

            .summary .attention h3:before {
                font-size: 4vw;
                color: #ff4500;
                content: "┓　";
            }

            .summary .attention h3:after {
                font-size: 4vw;
                color: #ff4500;
                content: "┳┛";
            }

        .summary .attention ul {
            font-size: 3vw;
            margin: 1em;
            padding: 0;
            list-style: none;
        }

        .summary .attention li {
            margin: 0;
            padding: 0;
        }

            .summary .attention li:before {
                content: "┌";
                margin-right: 0.5em;
            }

.schedule h2,
.schedule h2:after {
    border-bottom-color: #d11e8db8;
}

.schedule h2:before {
    font-family: 'KFhimajiILLUST';
    content: "駅";
    font-size: 24vw;
    position: absolute;
    top: 0;
    left: 60vw;
    color: #db87424b;
    transform: rotate(12deg);
}

.schedule dl {
    margin: 0 0 0 3vw;
    font-size: 4vw;
}

.schedule dt {
    margin-top: 1.5vh;
    font-weight: bold;
    color: #42106e;
    position: relative;
    display: block;
    width: 7ex;
    text-align: center;
}

.schedule dd {
    position: relative;
    color: #42106e;
}

.schedule dt:before {
    content: "";
    position: absolute;
    display: block;
    width: 1vw;
    height: 1.5vh;
    background: #42106e;
    border-radius: 1vw;
    left: 3ex;
    bottom: 1em;
}

.schedule dt:first-of-type:before {
    display: none;
}

.schedule dd:nth-of-type(1) {
    position: relative;
}

.schedule dd:nth-of-type(1):before {
    content: "";
    width: 6em;
    height: 1.2vh;
    background: #ffbb0070;
    z-index: -1;
    position: absolute;
    bottom: -0.6vh;
    left: 3.5em;
}

.schedule dd:nth-of-type(1):after {
    content: attr(title);
    font-size: 1.2vh;
    display: block;
    position: absolute;
    width: 12em;
    background: #ffffffb8;
    border-left: #1641b988 2vh solid;
    box-shadow: 1px 1px 1px 0 rgba(128, 128, 128, 0.39);
    padding: 0.5vh 1vh;
    left: 30vw;
    top: 4vh;
    z-index: 2;
    line-height: 1.2;
    color: #000000e8;
    transform: rotate(1.8deg);
}


.schedule dd:nth-of-type(2):after {
    font-family: 'KFhimajiILLUST';
    content: "で";
    position: absolute;
    top: 4vh;
    left: -2.9em;
    transform: rotate(-90deg);
    color: #42106e;
    font-size: 6vw;
}

.schedule dt:nth-of-type(3) {
    margin-top: 8vh;
}

    .schedule dt:nth-of-type(3):before {
        height: 8vh;
    }

    .schedule dt:nth-of-type(3):after {
        font-family: 'KFhimajiILLUST';
        content: "酒";
        font-size: 8vw;
        position: absolute;
        top: -1.5vh;
        left: 50vw;
        color: #4159e2;
        transform: rotate(12deg);
    }

.schedule dd:nth-of-type(4):after {
    font-family: 'KFhimajiILLUST';
    content: "車";
    position: absolute;
    top: 3.5vh;
    left: -2.9em;
    transform: rotate(-90deg);
    color: #42106e;
    font-size: 6vw;
}

.schedule dt:nth-of-type(5) {
    margin-top: 6vh;
}

    .schedule dt:nth-of-type(5):before {
        height: 6vh;
    }

.schedule dd:nth-of-type(5):before {
    font-family: 'KFhimajiILLUST';
    content: "滑";
    font-size: 8vw;
    position: absolute;
    top: 4vh;
    left: 0;
    color: #1cacc5;
    transform: rotate(-9deg);
}

.schedule dd:nth-of-type(5):after {
    position: absolute;
    left: 10vw;
    top: 6vh;
    font-family: mini-convenie;
    content: "スキー＆スノボ！";
    font-weight: bold;
    font-size: 5vw;
    transform: rotate(-12deg);
    color: #cb1ed1;

}

.schedule dt:nth-of-type(6) {
    margin-top: 12vh;
}

    .schedule dt:nth-of-type(6):before {
        height: 12vh;
    }

.schedule dd:nth-of-type(6):before {
    font-family: 'KFhimajiILLUST';
    content: "ゆ";
    font-size: 10vw;
    position: absolute;
    top: -7vh;
    left: 50vw;
    color: #1c79c5;
    transform: rotate(14deg);
}

.schedule dt:nth-of-type(8) {
    margin-top: 6vh;
}

    .schedule dt:nth-of-type(8):before {
        height: 6vh;
    }

    
.schedule dd:nth-of-type(7):before {
    content: attr(title);
    font-size: 1.2vh;
    display: block;
    position: absolute;
    width: 12em;
    background: #ffffffb8;
    border-left: #b9167088 2vh solid;
    box-shadow: 1px 1px 1px 0 rgba(128, 128, 128, 0.39);
    padding: 0.5vh 1vh;
    left: -2vw;
    top: 3vh;
    z-index: 2;
    line-height: 1.2;
    color: #000000e8;
    transform: rotate(1.2deg);
}

.schedule dd:nth-of-type(7):after {
    font-family: 'KFhimajiILLUST';
    content: "車";
    position: absolute;
    top: 3.5vh;
    left: -2.9em;
    transform: rotate(-90deg);
    color: #42106e;
    font-size: 6vw;
}

.schedule dd:nth-of-type(8):after {
    font-family: 'KFhimajiILLUST';
    content: "話";
    color: #0e962d47;
    position: absolute;
    font-size: 18vw;
    top: 8vw;
    left: 40vw;
}

.schedule dd:nth-of-type(9):after {
    font-family: 'KFhimajiILLUST';
    content: "湯";
    color: #BE0000;
    position: absolute;
    font-size: 6vw;
    top: -1vw;
    left: 14vw;
}

.schedule dd:nth-of-type(10):after {
    font-family: 'KFhimajiILLUST';
    content: "食";
    color: #b96516;
    position: absolute;
    font-size: 6vw;
    top: -1vw;
    left: 10vw;
}

.schedule dd:nth-of-type(11):after {
    font-family: 'KFhimajiILLUST';
    content: "寝";
    color: #4c2fec;
    position: absolute;
    font-size: 6vw;
    top: -1vw;
    left: 10vw;
}

.schedule dd {
    margin-top: -1em;
    margin-left: 4em;
}

.things h2, .things h2:after {
    border-bottom-color: #22ad0e99;
}

.things ul {
    margin: 2vh 0 0;
    padding: 0;
    list-style: none;
    font-size: 2.5vh;
}

.things li {
    margin: 0;
    position: relative;
}

.things input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

    .things input[type="checkbox"] + label {
        display: block;
        padding: 0.5vh 0 0.5vh 3vh;
    }

    .things input[type="checkbox"] + label:before {
        content: "";
        height: 1.5vh;
        width: 1.5vh;
        border: solid 0.2vh #AFAFAF;
        display: inline-block;
        border-radius: 0.5vh;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .things input[type="checkbox"]:checked + label:after {
        content: "";
        display: block;
        height: 0.8vh;
        width: 1.7vh;
        border-style: none none solid solid;
        border-width: 0.5vh;
        border-color: #399a149e;
        position: absolute;
        left: 0;
        top: -1vh;
        bottom: 0;
        margin: auto 0;
        transform: rotate(-45deg);
    }

.etc h2 {
    display: none;
}

.etc h3 {
    margin: 0;
    font-size: 4vw;
    border-bottom: solid 0.3vw black;
    position: relative;
    display: inline-block;
    font-weight: normal;
    padding: 0 0 0.2vh 0.1vw;
}

.etc h3:after {
    content: "";
    border-bottom: solid 0.3vw black;
    bottom: -0.8vw;
    left: 0.5vw;
    right: -0.5vw;
    position: absolute;
    display: inline-block;
}

.expenses,
.seats,
.links {
    position: relative;
    margin-bottom: 2vh;
    padding: 1vh 4vw;
    box-sizing: border-box;
    width: 80vw;
    z-index: auto;
}

.expenses:before,
.seats:before,
.links:before {
    content: "";
    position: absolute;
    display: block;
    border: solid 0.3vw #b904a1a4;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skew(0.2deg, 0.1deg);
    z-index: -1;
}

.expenses:after,
.seats:after,
.links:after {
    content: "";
    position: absolute;
    display: block;
    border: solid 0.3vw #b904a1a4;
    left: -0.4vw;
    top: -0.4vw;
    right: -0.4vw;
    bottom: -0.4vw;
    transform: skew(-0.2deg, -0.1deg);
    z-index: -1;
}

.expenses h3,
.expenses h3:after {
    border-color: #b904a1a4;
}

.expenses table {
    border-spacing: 0;    
    font-size: 4vw;
}

.expenses table tbody th {
    text-align: left;
    width: 40vw;
}

.expenses table tbody td {
    text-align: right;
    width: 18vw;
}

.expenses table thead th {
    font-weight: bold;
    text-align: center;
    padding: 0.8vh 2vw;
}

.expenses table tbody th,
.expenses table tbody td {
    font-weight: normal;
    border-top: solid 0.3vw #b904a1a4;
    padding: 0.8vh 2vw;
}

.expenses table tfoot th,
.expenses table tfoot td {
    border-top: solid 0.3vw #b904a1a4;
    padding: 0.8vh 2vw;
}

.expenses table tfoot th {
    font-weight: bold;
    text-align: left;
}
.expenses table tfoot td {
    text-align: right;
}

.seats:before,
.seats:after,
.seats h3,
.seats h3:after {
    border-color: #d69318c5;
}

.seats p {
    font-size: 3.5vw;
    margin: 2vw 0;
}

.seats p:after {
    font-family: 'KFhimajiILLUST';
    content: "で";
}

.seats dl {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    margin: 6vh 0 2vh 8vw;
    padding: 0;
}

.seats dt {
    display: none;
}

.seats dd {
    width: 30vw;
    margin: 0;
    padding: 1vh 1vw;
    font-size: 4vw;
    box-sizing: border-box;
    text-align: center;
}

.seats dd:nth-of-type(1) {
    font-size: 0;
}

.seats dd:nth-of-type(1):before {
    content: "ババ心";
    font-size: 4vw;
}

.seats dd:nth-of-type(1):after {
    content: "D";
    position: absolute;
    top: -0.3vw;
    left: -6vw;
    width: 6vw;
    font-size: 4vw;
    box-sizing: border-box;
    padding: 1vh 1vw;
}

.seats dd:nth-of-type(2):after {
    content: "10";
    position: absolute;
    top: -2.5vh;
    left: 0;
    width: 30vw;
    text-align: center;
    box-sizing: border-box;
}

.seats dd:nth-of-type(4):after {
    content: "11";
    position: absolute;
    top: -2.5vh;
    left: 30vw;
    width: 30vw;
    text-align: center;
    box-sizing: border-box;
}

.seats dd:nth-of-type(3):after {
    content: "E";
    position: absolute;
    width: 6vw;
    bottom: 0;
    left: -6vw;
    font-size: 4vw;
    box-sizing: border-box;
    padding: 1vh 1vw;
}

.seats dd:nth-of-type(2):before {
    content: "";
    display: block;
    position: absolute;
    border-top: solid 0.3vw #d69318c5;
    border-bottom: solid 0.3vw #d69318c5;
    top: 0;
    left: -8vw;
    width: 68.5vw;
    height: 7.8vh;
    transform: rotate(-0.3deg);
}

.seats dd:nth-of-type(3):before {
    content: "";
    display: block;
    position: absolute;
    border-top: solid 0.3vw #d69318c5;
    top: 4vh;
    left: -8.2vw;
    width: 68.6vw;
    height: 4vh;
    transform: rotate(0.5deg);
}

.seats dd:nth-of-type(4):before {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 0.3vw #d69318c5;
    border-right: solid 0.3vw #d69318c5;
    top: -3vh;
    left: 1vw;
    width: 58.7vw;
    height: 12vh;
    transform: rotate(0.5deg);
}

.seats dl:after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 0.3vw #d69318c5;
    top: -3vh;
    left: 30vw;
    width: 54.7vw;
    height: 12vh;
    transform: rotate(-0.2deg);
}

.links:before,
.links:after,
.links h3,
.links h3:after {
    border-color: #146ef5bd;
}

.links ul,
.links li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links ul {
    margin: 2vh 0;
}

.links li {
    font-size: 4vw;
    margin: 0 0.5em;
}

.links li a:before {
    content: "星";
    font-family: "KFhimajiILLUST";
}

.links li a {
    text-decoration: none;
    color: #146ef5bd;
    padding: 0.6vh 0;
    display: inline-block;
}

.memo {
    position: absolute;
    border-left: 4vw red solid;
    background: white;
    min-width: 4em;
    font-size: 4vw;
    padding: 1vw 4vw 1vw 2vw;
    box-shadow: 1px 1px 2px gray;
    white-space: nowrap;
}
