@font-face {
    font-family: 'RiiMonakaBLt';
    src: url('../fonts/RiiMonakaBLt.otf') format('opentype');
}

@font-face {
    font-family: 'RiiMonakaBRt';
    src: url('../fonts/RiiMonakaBRt.otf') format('opentype');
}

@font-face {
    font-family: 'RiiMonakaWLt';
    src: url('../fonts/RiiMonakaWLt.otf') format('opentype');
}

@font-face {
    font-family: 'RiiMonakaWRt';
    src: url('../fonts/RiiMonakaWRt.otf') format('opentype');
}

@font-face {
    font-family: 'mini-convenie';
    src: url('../fonts/mini-convenie.otf') format('opentype');
}

@font-face {
    font-family: 'azuki';
    src: url('../fonts/azuki.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    position: relative;
    background: linear-gradient(90deg, transparent 0, transparent 5vw, white 5vw, white 100%), repeating-linear-gradient(-20deg, #BE0000, #BE0000 10vw, #D8ACFF 0, #D8ACFF 20vw, #77FF59 0, #77FF59 30vw, #FF7AB1 0, #FF7AB1 40vw, #FF9D41 0, #FF9D41 50vw, #62DDFF 0, #62DDFF 60vw, #AFAFAF 0, #AFAFAF 70vw, #0004E1 0, #0004E1 80vw, #F6F21A 0, #F6F21A 90vw);
}

    header::before {
        /* 自由に使うがよい！ */
    }

    header::after {
        content: "株単社員旅行2017";
        font-family: azuki;
        font-weight: bold;
        position: absolute;
        top: 12vw;
        right: 7vw;
        font-size: 4.5vw;
        /*color: white;*/
        /*background: #680D0D;*/
        /*padding: 4vw;*/
        /*border-radius: 50vw / 18vw;*/
        border-radius: 2vw;
        border: double 3px #FF9D41;
        color: #FF9D41;
        padding: 2vw 4vw;
        transform: rotate(15deg);
    }

h1 {
    /*font-size: 0;*/
    position: absolute;
    font-family: "mini-convenie";
    text-align: center;
    bottom: 52vh;
    left: 3vw;
    right: 0;
    font-size: 0;
}

    h1::before {
        content: "たび";
        color: hsla(0, 100%, 100%, 0.5);
        text-shadow: cornflowerblue 0.7vw 0.7vw 0, cornflowerblue 0.7vw 0.9vw 0, cornflowerblue 0.9vw 0.7vw 0;
    }

    h1::after {
        content: "のしおり";
        color: hsla(0, 100%, 100%, 0.5);
        text-shadow: deeppink 0.7vw 0.7vw 0, deeppink 0.7vw 0.9vw 0, deeppink 0.9vw 0.7vw 0;
        margin-left: 2vw;
    }

    h1::before, h1::after {
        font-size: 10vw;
    }

.slogan {
    position: absolute;
    bottom: 45vh;
    left: 12vw;
    right: 0;
    font-family: azuki;
    font-size: 3.5vw;
    font-weight: bold;
    color: hsla(33, 100%, 65%, 0.64);
    text-shadow: hsl(33, 68%, 46%) -0.4vw -0.3vw, hsl(33, 68%, 46%) -0.5vw -0.3vw;
}

    .slogan::before {
        top: -2.8vw;
        left: -0.7vw;
        transform: rotate(-18deg);
    }

    .slogan::after {
        top: -1.6vw;
        left: -2vw;
        transform: rotate(-52deg);
    }

    .slogan::before, .slogan::after {
        content: "";
        display: block;
        width: 1vw;
        height: 2vw;
        background: #FFAF4D;
        position: absolute;
        border-radius: 0.5vw;
    }

.your-name {
    position: absolute;
    bottom: 3vh;
    left: 14vw;
    right: 5vw;
    border-bottom: double 1px #909090;
    box-shadow: 0 2px 0 white, 0 3px 0 #909090;
}
    /*.your-name::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5vw;
        border-color: #680D0D transparent transparent transparent;
        position: absolute;
        top: -5vw;
    }*/

    .your-name label {
        font-family: RiiMonakaBLt;
    }

    .your-name input[type="text"] {
        border: none;
        margin-left: 10vw;
        font-size: 7vw;
        position: absolute;
        left: 8vw;
        right: 5vw;
        bottom: 1vw;
        width: auto;
        font-family: azuki;
    }

/*
#bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

h1 {
    margin: auto;
    padding: 0;
    width: 100vw;
    height: calc(100% + 140px);
    display: block;
    color: white;
    font-size: 140%;
}

    h1:before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../images/bg.jpg") center center no-repeat;
        background-size: cover;
    }

    h1:after {
        content: "株式会社単推し\A 2017年度社員旅行\A 旅のしおり";
        color: black;
        white-space: pre;
        position: fixed;
        top: 35%;
        right: -100vw;
        left: -100vw;
        text-align: right;
        background: rgba(255, 255, 255, 0.8);
        padding: 10vw 105vw;
        direction: rtl;
    }

.summary {
    background: white;
    position: relative;
    z-index: 1;
    background: url("../images/bg2.jpg") center top no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

    .summary:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .summary > * {
        position: relative;
        z-index: 2;
    }

    .summary h2 {
        margin: 0;
        padding: 12vw 4vw 2vw;
        font-size: 120%;
        border-left: 1vw black solid;
        border-bottom: 1px black solid;
    }

    .summary .summary-content {
        padding-left: 5vw;
        padding-right: 4vw;
    }

        .summary .summary-content > * {
            margin: 0;
        }

        .summary .summary-content h3 {
            padding-top: 4vw;
            padding-right: 2vw;
            padding-bottom: 0;
            font-size: 100%;
            font-weight: bold;
            border-bottom: 1px rgba(0, 0, 0, 0.6) solid;
            display: inline-block;
        }

            .summary .summary-content h3 + * {
                margin-top: 2vw;
            }


        .summary .summary-content p + p {
            margin-top: 2vw;
        }

.schedule {
    background: white;
    position: relative;
    z-index: 1;
    background: url("../images/bg3.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
}

    .schedule:before {
        content: "";
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .schedule > * {
        position: relative;
        z-index: 2;
    }

    .schedule h2 {
        margin: 0 0 4vh;
        padding: 12vw 4vw 2vw;
        font-size: 120%;
        border-left: 1vw black solid;
        border-bottom: 1px black solid;
    }

    .schedule dl {
        line-height: 1em;
    }

    .schedule dt {
        margin: 0 0 0 3vw;
        font-family: sans-serif;
        font-weight: bold;
        color: hsl(320, 60%, 30%);
        text-align: center;
        display: inline-block;
        width: 3.3em;
    }

    .schedule dd {
        position: relative;
        padding: 0 2vw 1.5em 2em;
        margin: -1em 0 0 2.2em;
        height: 3em;
    }

    .schedule dd:before {
        content: "";
        background: hsl(320, 60%, 30%);
        display: block;
        position: absolute;
        top: 1.2em;
        left: 0;
        bottom: 2vw;
        width: 2vw;
        border-radius: 1vw;
    }

    .schedule dd:last-of-type:before {
        content: none;
    }
*/
